.brewery_company-container {
	margin: 9% 5%;
	width: 90%;
	height: 20%;
	border: 1px solid #f5f5f5;
	display: flex;
  flex-direction: row;
}

.state_company-icon {
	width: 42%;
  /*height: 100%;*/
  font-size: 7vw;
  color: #1d2731;
  border: 1px solid #f5f5f5;
  display: inline-block;
  background: #d9b310;
}

.brewery_company-card {
	/*height: 100%;*/
	width: 100%;
	display: flex;
  flex-direction: column;
}

.brewery_card-header {
	height: 30px;
	width: 100%;
	background: #f5f5f5;
}

.state_website-button {
	width: 20%;
	height: 30px;
	background: #f5f5f5;
	border-radius: 8px;
	margin: 8px 5px;
  text-decoration: none;
  color: black;
  display: inline-block;
}

.brewery_card-body {
	height: 65px;
	width: 100%;
	background: #328cc1;
}

.state_body-lower {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.state_button {
	width: 20%;
	height: 30px;
	background: #f5f5f5;
	border-radius: 8px;
	margin: 0 5px;
	font-size: 12pt;
}

.favorite_button {
	width: 20%;
	height: 30px;
	background: #f5f5f5;
	border-radius: 8px;
	margin: 8px auto;
}

.state_name-p {
  font-size: 2vh;
}

.brewery_button-container {
	padding: 10px 0;
}

/*<a className="website_button" href={website}>Website</a>
					<Link to={{
              pathname: `/company`,
            }} >
							<button className="state_favorite-button state_button">Comment</button>
          </Link>
        </section>*/

        