.state_section-left {
  width: 50%;
  background: #328cc1;
}

.state_section-right {
  width: 50%;
  background: #0b3c5d;
}

.state_section-main {
	height: 100vh;
	display: flex;
	flex-direction: row;
	/*flex-wrap: wrap;*/
}

.state_upper-title {
	font-size: 2vw;
	color: #0b3c5d;
}

.state_upper-subtitle {
	font-size: 1vw;
	color: #0b3c5d;
}

.state_section-letters {
	margin-top: 17%;
	font-size: 26vw;
	color: #f5f5f5;
}

.state_section-subletter {
	font-size: 5vw;
	color: #f5f5f5;
}




