.header_article-main {
  width: 100%;
  background: #1d2731;
  height: 12vh;
  display: flex;
  justify-content: space-around;
  border-bottom: 1.25vh solid #d9b310;
}

.header_article-h1 {
  margin-top: 24px;
  font-size: 43px;
	font-family: 'Raleway';
	color: #FAF0CA;
}

