.company_textarea-container {
  border-radius: 8px;
  height: 350px;
  width: 80%;
  background: #328cc1;
  margin-top: 29%;
}

.review_form-container {
  display: flex;
	flex-direction: column;
	justify-content: center;
}

.review_form {
	height: 100px;
	width: 80%;
}

.review_form-button {
	height: 25px;
	width: 80%;
	margin-top: 10px;
}