.search_box {
  width: 80%;
  height: 30%;
	margin: 12% auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	background: #0b3c5d;
}

.search_logo-box {
	width: 250px;
	height: 250px;
	background: #328cc1;
	margin: 0 5%;
	font-size: 90px;
	color: #f5f5f5;
}

.search_form-box {
	width: 50%;
	background: #328cc1;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 20px;
}

.search_button {
	height: 40px;
  width: 85px;
  background: #d9b310;
  border: none;
  font-size: 20px;
  color: #0b3c5d;
}

.search_input {
	height: 40px;
  width: 60%;
  margin: 15px;
  font-size: 11pt;
}

.search_logo-letters {
	margin-top: 38px;
}

.search_input-label {
	margin-top: 20px;
}
