.newsarticle_article-main {
	border: 1px solid yellow;
	height: 35%;
	background: #328cc1;
	display: flex;
	flex-direction: row;
}

.newsarticle-img {
	background: yellow;
	width: 300px;
	height: 100%;
	display: inline-block;
}